version: "3.8"

services:
  app:
    image: rate-limiter:1.0
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

  redis:
    image: redis:7
    ports:
      - "6379:6379"
